@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav-link{
    color: white;
}

.galeria{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 200px);
    padding-inline: 20px;
    padding-bottom: 20px;
    grid-gap: 10px;
}

.galeria2{
    color: rosybrown;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.item{
    border: 3px solid rosybrown;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.9s;
}

.item:hover{
    transition: all 0.9s;
    background-size: 125%;
}

$micolor8: rgb(59, 59, 59);

@for $i from 1 through 4 {
    .item#{$i} {
        background-color: lighten($micolor8, $i * 8%);
        background-image: url(../assets/img#{$i}.jpeg);
    }
}

@for $i from 5 through 8 {
    .item#{$i} {
        background-color: lighten($micolor8, $i * 8%);
        background-image: url(../assets/img#{$i}.jpeg);
    }
}

@media only screen and (min-width:480px){
    .galeria{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 180px);
    }
}

@media only screen and (min-width:768px)and (max-width:1024px){
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item1{
        grid-column: 1/3;
        grid-row: 1/2;
        }
        
        .item2{
            grid-column: 3/4;
            grid-row: 1/2;
        }
        .item3{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .item4{
            grid-column: 2/4;
            grid-row: 2/3;
        }
        .item5{
            grid-column: 1/3;
            grid-row: 3/4;
        }
        .item6{
            grid-column: 3/4;
            grid-row: 3/4;
        }
        .item7{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .item8{
            grid-column: 2/4;
            grid-row: 4/5;
        }
}

@media only screen and (min-width:1024px){
    .galeria{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 200px);
    }
}
@media screen and (min-width: 401px) {
    .columnas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }
}
