h3{
    text-align: left;
}

.nosotras{
    padding: 20px;
}


.nleft2{
    background-image: url(../assets/quienessomos.jpeg);
    background-size: cover;
    height: 450px;
}
.container{
    text-align: left;
}
.pasos{
    padding: 40px;
}
