h3{
    text-align: left;
}

.nosotras{
    padding: 20px;
}
.nosotras2{
    font-family: $font1;
    text-align: left;
    color: $color1;
    text-shadow: 1px 1px 1px $color3;

}

.nleft2{
    background-image: url(../assets/quienessomos.jpeg);
    background-size: cover;
    height: 450px;
}
.container{
    text-align: left;
}
.pasos{
    padding: 40px;
}
